In [2]:
import pandas as pd

df = pd.read_csv('./../data/police_station.csv')
df.head()

   서울특별시경찰청       서울시 종로구 사직로8길 31
0   서울중부경찰서        서울특별시 중구 수표로 27
1   서울종로경찰서       서울특별시 종로구 율곡로 46
2  서울남대문경찰서      서울특별시 중구 한강대로 410
3  서울서대문경찰서     서울특별시 서대문구 통일로 113
4   서울혜화경찰서  서울특별시 종로구 창경궁로 112-16

In [25]:
import mysql.connector

conn = mysql.connector.connect(
    host="AWS RDS",
    user="root",
    password="********",
    database='armbase'
)

In [26]:
cursor = conn.cursor(buffered=True)

In [27]:
sql = 'INSERT INTO police_station VALUES(%s, %s)'

In [28]:
for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    print(tuple(row))
    conn.commit()

ProgrammingError: Not all parameters were used in the SQL statement

In [29]:
cursor.execute('SELECT * FROM police_station')
result = cursor.fetchall()
for i in result:
    print(i)

('서울특별시경찰청', '서울시 종로구 사직로길31')
('서울중부경찰서', '서울특별시 중구 수표로 27')
('서울종로경찰서', '서울특별시 종로구 율곡로 46')
('서울남대문경찰서', '서울특별시 중구 한강대로 410')
('서울중부경찰서', '서울특별시 중구 수표로 27')
('서울종로경찰서', '서울특별시 종로구 율곡로 46')
('서울남대문경찰서', '서울특별시 중구 한강대로 410')
('서울서대문경찰서', '서울특별시 서대문구 통일로 113')
('서울혜화경찰서', '서울특별시 종로구 창경궁로 112-16')
('서울용산경찰서', '서울특별시 용산구 원효로89길 24')
('서울성북경찰서', '서울특별시 성북구 보문로 170')
('서울동대문경찰서', '서울특별시 동대문구 약령시로 21길 29')
('서울마포경찰서', '서울특별시 마포구 마포대로 183')
('서울영등포경찰서', '서울특별시 영등포구 국회대로 608')
('서울성동경찰서', '서울특별시 성동구 왕십리광장로 9')
('서울동작경찰서', '서울특별시 동작구 노량진로 148')
('서울광진경찰서', '서울특별시 광진구 광나루로 447 광진소방서 임시청사 (능동)')
('서울서부경찰서', '서울특별시 은평구 은평로9길 15')
('서울강북경찰서', '서울특별시 강북구 오패산로 406')
('서울금천경찰서', '서울특별시 관악구 남부순환로 1435')
('서울중랑경찰서', '서울특별시 중랑구 중랑역로 137')
('서울강남경찰서', '서울특별시 강남구 테헤란로 114길 11')
('서울관악경찰서', '서울특별시 관악구 관악로5길 33')
('서울강서경찰서', '서울특별시 양천구 화곡로 73')
('서울강동경찰서', '서울특별시 강동구 성내로 33')
('서울종암경찰서', '서울특별시 성북구 종암로 135')
('서울구로경찰서', '서울특별시 구로구 가마산로 235')
('서울서초경찰서', '서울특별시 서초구 반포대로 179')
('서울양천경찰서', '서울특별시 양천구 목동동로 99')
('서울송파경찰서', '서울특별시 송파구 중대로 221')
('서울노원경찰서', '서울특별시 노원구 노원로 283')
('서울방배경찰서', '서울특별시 서초구 방배천로 54')
('서울도봉경찰서', '서울특별시 도봉구 노해로 403')
('서울수서경찰서', '서울특별시 강남구 개포로 617')
('서울은평경찰서', '서울특별시 은평구 연서로 365')

In [30]:
df = pd.DataFrame(result)
df

           0                                   1
0   서울특별시경찰청                      서울시 종로구 사직로길31
1    서울중부경찰서                     서울특별시 중구 수표로 27
2    서울종로경찰서                    서울특별시 종로구 율곡로 46
3   서울남대문경찰서                   서울특별시 중구 한강대로 410
4    서울중부경찰서                     서울특별시 중구 수표로 27
5    서울종로경찰서                    서울특별시 종로구 율곡로 46
6   서울남대문경찰서                   서울특별시 중구 한강대로 410
7   서울서대문경찰서                  서울특별시 서대문구 통일로 113
8    서울혜화경찰서               서울특별시 종로구 창경궁로 112-16
9    서울용산경찰서                 서울특별시 용산구 원효로89길 24
10   서울성북경찰서                   서울특별시 성북구 보문로 170
11  서울동대문경찰서              서울특별시 동대문구 약령시로 21길 29
12   서울마포경찰서                  서울특별시 마포구 마포대로 183
13  서울영등포경찰서                 서울특별시 영등포구 국회대로 608
14   서울성동경찰서                  서울특별시 성동구 왕십리광장로 9
15   서울동작경찰서                  서울특별시 동작구 노량진로 148
16   서울광진경찰서  서울특별시 광진구 광나루로 447 광진소방서 임시청사 (능동)
17   서울서부경찰서                  서울특별시 은평구 은평로9길 15
18   서울강북경찰서                  서울특별시 강북구 오패산로 406
19   서울금천경찰서                서울특별시 관악구 남부순환로 1435
20   서울중랑경찰서                  서울특별시 중랑구 중랑역로 137
21   서울강남경찰서              서울특별시 강남구 테헤란로 114길 11
22   서울관악경찰서                  서울특별시 관악구 관악로5길 33
23   서울강서경찰서                    서울특별시 양천구 화곡로 73
24   서울강동경찰서                    서울특별시 강동구 성내로 33
25   서울종암경찰서                   서울특별시 성북구 종암로 135
26   서울구로경찰서                  서울특별시 구로구 가마산로 235
27   서울서초경찰서                  서울특별시 서초구 반포대로 179
28   서울양천경찰서                   서울특별시 양천구 목동동로 99
29   서울송파경찰서                   서울특별시 송파구 중대로 221
30   서울노원경찰서                   서울특별시 노원구 노원로 283
31   서울방배경찰서                   서울특별시 서초구 방배천로 54
32   서울도봉경찰서                   서울특별시 도봉구 노해로 403
33   서울수서경찰서                   서울특별시 강남구 개포로 617
34   서울은평경찰서                   서울특별시 은평구 연서로 365

In [31]:
import mysql.connector

remote = mysql.connector.connect(
    host="AWS RDS",
    port=3306,
    user='robot',
    password='1234',
    database='armbase'
)
import pandas as pd 

df = pd.read_csv('./../data/2020_crime.csv', encoding='euc-kr')
df.head()

   구분     죄종 발생검거   건수
0  중부     살인   발생    1
1  중부     살인   검거    1
2  중부     강도   발생    3
3  중부     강도   검거    4
4  중부  강간,추행   발생  113

In [32]:
sql = '''INSERT INTO crime_status VALUES ("2020", %s, %s, %s, %s)'''
cursor = conn.cursor(buffered=True)

In [33]:
for i, row in df.iterrows():
    cursor.execute(sql, tuple(row))
    print(tuple(row))
    conn.commit()

('중부', '살인', '발생', 1)
('중부', '살인', '검거', 1)
('중부', '강도', '발생', 3)
('중부', '강도', '검거', 4)
('중부', '강간,추행', '발생', 113)
('중부', '강간,추행', '검거', 76)
('중부', '절도', '발생', 943)
('중부', '절도', '검거', 495)
('중부', '폭력', '발생', 997)
('중부', '폭력', '검거', 830)
('종로', '살인', '발생', 9)
('종로', '살인', '검거', 6)
('종로', '강도', '발생', 4)
('종로', '강도', '검거', 4)
('종로', '강간,추행', '발생', 115)
('종로', '강간,추행', '검거', 93)
('종로', '절도', '발생', 602)
('종로', '절도', '검거', 284)
('종로', '폭력', '발생', 964)
('종로', '폭력', '검거', 792)
('남대문', '살인', '발생', 1)
('남대문', '살인', '검거', 1)
('남대문', '강도', '발생', 2)
('남대문', '강도', '검거', 2)
('남대문', '강간,추행', '발생', 73)
('남대문', '강간,추행', '검거', 52)
('남대문', '절도', '발생', 699)
('남대문', '절도', '검거', 368)
('남대문', '폭력', '발생', 579)
('남대문', '폭력', '검거', 494)
('서대문', '살인', '발생', 3)
('서대문', '살인', '검거', 3)
('서대문', '강도', '발생', 2)
('서대문', '강도', '검거', 1)
('서대문', '강간,추행', '발생', 159)
('서대문', '강간,추행', '검거', 149)
('서대문', '절도', '발생', 1077)
('서대문', '절도', '검거', 524)
('서대문', '폭력', '발생', 1292)
('서대문', '폭력', '검거', 1029)
('혜화', '살인', '발생', 0)
('혜화', '살인', '검거', 0)
('혜화', '강도', '발생', 3)
('혜화', '강도', '검거', 3)
('혜화', '강간,추행', '발생', 77)
('혜화', '강간,추행', '검거', 53)
('혜화', '절도', '발생', 581)
('혜화', '절도', '검거', 310)
('혜화', '폭력', '발생', 747)
('혜화', '폭력', '검거', 628)
('용산', '살인', '발생', 5)
('용산', '살인', '검거', 3)
('용산', '강도', '발생', 6)
('용산', '강도', '검거', 6)
('용산', '강간,추행', '발생', 230)
('용산', '강간,추행', '검거', 186)
('용산', '절도', '발생', 1111)
('용산', '절도', '검거', 534)
('용산', '폭력', '발생', 1617)
('용산', '폭력', '검거', 1327)
('성북', '살인', '발생', 0)
('성북', '살인', '검거', 0)
('성북', '강도', '발생', 2)
('성북', '강도', '검거', 2)
('성북', '강간', '발생', 95)
('성북', '강간', '검거', 77)
('성북', '절도', '발생', 439)
('성북', '절도', '검거', 233)
('성북', '폭력', '발생', 672)
('성북', '폭력', '검거', 610)
('동대문', '살인', '발생', 10)
('동대문', '살인', '검거', 8)
('동대문', '강도', '발생', 6)
('동대문', '강도', '검거', 5)
('동대문', '강간,추행', '발생', 161)
('동대문', '강간,추행', '검거', 142)
('동대문', '절도', '발생', 1440)
('동대문', '절도', '검거', 713)
('동대문', '폭력', '발생', 1784)
('동대문', '폭력', '검거', 1597)
('마포', '살인', '발생', 9)
('마포', '살인', '검거', 8)
('마포', '강도', '발생', 4)
('마포', '강도', '검거', 3)
('마포', '강간,추행', '발생', 348)
('마포', '강간,추행', '검거', 287)
('마포', '절도', '발생', 1483)
('마포', '절도', '검거', 679)
('마포', '폭력', '발생', 1844)
('마포', '폭력', '검거', 1557)
('영등포', '살인', '발생', 7)
('영등포', '살인', '검거', 4)
('영등포', '강도', '발생', 6)
('영등포', '강도', '검거', 5)
('영등포', '강간,추행', '발생', 315)
('영등포', '강간,추행', '검거', 252)
('영등포', '절도', '발생', 2188)
('영등포', '절도', '검거', 953)
('영등포', '폭력', '발생', 2701)
('영등포', '폭력', '검거', 2157)
('성동', '살인', '발생', 5)
('성동', '살인', '검거', 5)
('성동', '강도', '발생', 3)
('성동', '강도', '검거', 3)
('성동', '강간,추행', '발생', 115)
('성동', '강간,추행', '검거', 98)
('성동', '절도', '발생', 1016)
('성동', '절도', '검거', 565)
('성동', '폭력', '발생', 1223)
('성동', '폭력', '검거', 1103)
('동작', '살인', '발생', 1)
('동작', '살인', '검거', 1)
('동작', '강도', '발생', 1)
('동작', '강도', '검거', 2)
('동작', '강간,추행', '발생', 226)
('동작', '강간,추행', '검거', 121)
('동작', '절도', '발생', 1341)
('동작', '절도', '검거', 592)
('동작', '폭력', '발생', 1631)
('동작', '폭력', '검거', 1370)
('광진', '살인', '발생', 2)
('광진', '살인', '검거', 2)
('광진', '강도', '발생', 4)
('광진', '강도', '검거', 4)
('광진', '강간,추행', '발생', 255)
('광진', '강간,추행', '검거', 224)
('광진', '절도', '발생', 1664)
('광진', '절도', '검거', 874)
('광진', '폭력', '발생', 1676)
('광진', '폭력', '검거', 1407)
('서부', '살인', '발생', 3)
('서부', '살인', '검거', 3)
('서부', '강도', '발생', 3)
('서부', '강도', '검거', 2)
('서부', '강간,추행', '발생', 76)
('서부', '강간,추행', '검거', 71)
('서부', '절도', '발생', 532)
('서부', '절도', '검거', 322)
('서부', '폭력', '발생', 748)
('서부', '폭력', '검거', 667)
('강북', '살인', '발생', 9)
('강북', '살인', '검거', 8)
('강북', '강도', '발생', 5)
('강북', '강도', '검거', 4)
('강북', '강간,추행', '발생', 159)
('강북', '강간,추행', '검거', 132)
('강북', '절도', '발생', 780)
('강북', '절도', '검거', 490)
('강북', '폭력', '발생', 1817)
('강북', '폭력', '검거', 1625)
('금천', '살인', '발생', 4)
('금천', '살인', '검거', 4)
('금천', '강도', '발생', 7)
('금천', '강도', '검거', 6)
('금천', '강간,추행', '발생', 117)
('금천', '강간,추행', '검거', 93)
('금천', '절도', '발생', 999)
('금천', '절도', '검거', 553)
('금천', '폭력', '발생', 1471)
('금천', '폭력', '검거', 1310)
('중랑', '살인', '발생', 10)
('중랑', '살인', '검거', 9)
('중랑', '강도', '발생', 5)
('중랑', '강도', '검거', 6)
('중랑', '강간,추행', '발생', 183)
('중랑', '강간,추행', '검거', 153)
('중랑', '절도', '발생', 1506)
('중랑', '절도', '검거', 889)
('중랑', '폭력', '발생', 2022)
('중랑', '폭력', '검거', 1724)
('강남', '살인', '발생', 5)
('강남', '살인', '검거', 3)
('강남', '강도', '발생', 12)
('강남', '강도', '검거', 10)
('강남', '강간,추행', '발생', 513)
('강남', '강간,추행', '검거', 433)
('강남', '절도', '발생', 1941)
('강남', '절도', '검거', 1016)
('강남', '폭력', '발생', 2283)
('강남', '폭력', '검거', 1911)
('관악', '살인', '발생', 12)
('관악', '살인', '검거', 12)
('관악', '강도', '발생', 3)
('관악', '강도', '검거', 3)
('관악', '강간,추행', '발생', 403)
('관악', '강간,추행', '검거', 351)
('관악', '절도', '발생', 2229)
('관악', '절도', '검거', 1137)
('관악', '폭력', '발생', 2614)
('관악', '폭력', '검거', 2355)
('강서', '살인', '발생', 10)
('강서', '살인', '검거', 9)
('강서', '강도', '발생', 6)
('강서', '강도', '검거', 5)
('강서', '강간,추행', '발생', 265)
('강서', '강간,추행', '검거', 222)
('강서', '절도', '발생', 1689)
('강서', '절도', '검거', 1070)
('강서', '폭력', '발생', 2445)
('강서', '폭력', '검거', 2087)
('강동', '살인', '발생', 3)
('강동', '살인', '검거', 3)
('강동', '강도', '발생', 15)
('강동', '강도', '검거', 14)
('강동', '강간,추행', '발생', 188)
('강동', '강간,추행', '검거', 167)
('강동', '절도', '발생', 1640)
('강동', '절도', '검거', 781)
('강동', '폭력', '발생', 1942)
('강동', '폭력', '검거', 1697)
('종암', '살인', '발생', 4)
('종암', '살인', '검거', 4)
('종암', '강도', '발생', 1)
('종암', '강도', '검거', 0)
('종암', '강간', '발생', 47)
('종암', '강간', '검거', 44)
('종암', '절도', '발생', 549)
('종암', '절도', '검거', 347)
('종암', '폭력', '발생', 758)
('종암', '폭력', '검거', 630)
('구로', '살인', '발생', 6)
('구로', '살인', '검거', 6)
('구로', '강도', '발생', 5)
('구로', '강도', '검거', 5)
('구로', '강간,추행', '발생', 197)
('구로', '강간,추행', '검거', 142)
('구로', '절도', '발생', 1763)
('구로', '절도', '검거', 1008)
('구로', '폭력', '발생', 2204)
('구로', '폭력', '검거', 1823)
('서초', '살인', '발생', 4)
('서초', '살인', '검거', 4)
('서초', '강도', '발생', 5)
('서초', '강도', '검거', 3)
('서초', '강간,추행', '발생', 333)
('서초', '강간,추행', '검거', 253)
('서초', '절도', '발생', 1673)
('서초', '절도', '검거', 801)
('서초', '폭력', '발생', 1750)
('서초', '폭력', '검거', 1415)
('양천', '살인', '발생', 5)
('양천', '살인', '검거', 5)
('양천', '강도', '발생', 3)
('양천', '강도', '검거', 3)
('양천', '강간', '발생', 109)
('양천', '강간', '검거', 90)
('양천', '절도', '발생', 1517)
('양천', '절도', '검거', 718)
('양천', '폭력', '발생', 1582)
('양천', '폭력', '검거', 1270)
('송파', '살인', '발생', 6)
('송파', '살인', '검거', 6)
('송파', '강도', '발생', 13)
('송파', '강도', '검거', 17)
('송파', '강간,추행', '발생', 287)
('송파', '강간,추행', '검거', 235)
('송파', '절도', '발생', 2429)
('송파', '절도', '검거', 1006)
('송파', '폭력', '발생', 2675)
('송파', '폭력', '검거', 2280)
('노원', '살인', '발생', 4)
('노원', '살인', '검거', 3)
('노원', '강도', '발생', 3)
('노원', '강도', '검거', 3)
('노원', '강간,추행', '발생', 169)
('노원', '강간,추행', '검거', 148)
('노원', '절도', '발생', 1404)
('노원', '절도', '검거', 646)
('노원', '폭력', '발생', 2163)
('노원', '폭력', '검거', 1781)
('방배', '살인', '발생', 1)
('방배', '살인', '검거', 1)
('방배', '강도', '발생', 1)
('방배', '강도', '검거', 1)
('방배', '강간', '발생', 63)
('방배', '강간', '검거', 50)
('방배', '절도', '발생', 348)
('방배', '절도', '검거', 159)
('방배', '폭력', '발생', 423)
('방배', '폭력', '검거', 365)
('은평', '살인', '발생', 1)
('은평', '살인', '검거', 1)
('은평', '강도', '발생', 1)
('은평', '강도', '검거', 1)
('은평', '강간,추행', '발생', 95)
('은평', '강간,추행', '검거', 74)
('은평', '절도', '발생', 839)
('은평', '절도', '검거', 434)
('은평', '폭력', '발생', 1092)
('은평', '폭력', '검거', 956)
('도봉', '살인', '발생', 0)
('도봉', '살인', '검거', 0)
('도봉', '강도', '발생', 2)
('도봉', '강도', '검거', 2)
('도봉', '강간', '발생', 82)
('도봉', '강간', '검거', 87)
('도봉', '절도', '발생', 861)
('도봉', '절도', '검거', 379)
('도봉', '폭력', '발생', 1234)
('도봉', '폭력', '검거', 1022)
('수서', '살인', '발생', 1)
('수서', '살인', '검거', 2)
('수서', '강도', '발생', 2)
('수서', '강도', '검거', 1)
('수서', '강간,추행', '발생', 195)
('수서', '강간,추행', '검거', 194)
('수서', '절도', '발생', 1010)
('수서', '절도', '검거', 475)
('수서', '폭력', '발생', 1394)
('수서', '폭력', '검거', 1200)

In [35]:
cursor.execute('SELECT * FROM crime_status')

result = cursor.fetchall()
df = pd.DataFrame(result)
df.head()

      0   1      2   3    4
0  2020  중부     살인  발생    1
1  2020  중부     살인  검거    1
2  2020  중부     강도  발생    3
3  2020  중부     강도  검거    4
4  2020  중부  강간,추행  발생  113

- 연습문제

In [36]:
import mysql.connector as mc
import pandas as pd

In [57]:
# AWS RDS 접속
remote = mc.connect(
    host='localhost',
    user='robot',
    password='1234',
    database='armbase'
)

cur = remote.cursor()

In [58]:
# CCTV 테이블 생성
cur.execute('CREATE TABLE cctv(구분 varchar(64), 죄종 varchar(64), 발생검거 varchar(64), 건수 int)')
conn.close()

In [59]:
# 데이터 불러오기
df = pd.read_csv('./../data/2020_crime.csv', encoding='euc-kr')
df.head()

   구분     죄종 발생검거   건수
0  중부     살인   발생    1
1  중부     살인   검거    1
2  중부     강도   발생    3
3  중부     강도   검거    4
4  중부  강간,추행   발생  113

In [60]:
# 데이터 입력
remote = mc.connect(
    host='AWS RDS',
    user='robot',
    password='1234',
    database='armbase'
)

cur = remote.cursor(buffered=True)

sql = """INSERT INTO cctv VALUES (%s, %s, %s, %s)"""

for i, row in df.iterrows():
    
    cur.execute(sql, tuple(row))
remote.commit()
remote.close()

In [61]:
# 데이터 입력
remote = mc.connect(
    host='AWS RDS',
    user='robot',
    password='1234',
    database='armbase'
)

cur = remote.cursor(buffered=True)

sql = """SELECT * FROM cctv"""
cur.execute(sql)
result = cur.fetchall()
remote.commit()
remote.close()

In [62]:
df = pd.DataFrame(result)
df.head()

    0      1   2    3
0  중부     살인  발생    1
1  중부     살인  검거    1
2  중부     강도  발생    3
3  중부     강도  검거    4
4  중부  강간,추행  발생  113